$xs: 8px;
$sm: 16px;
$md: 24px;
$lg: 32px;
$xl: 40px;
$xxl: 48px;

@mixin space($type: margin, $direction: all, $amount: $md) {
	@if $type == padding {
		@if $direction == all {
			padding: $amount;
		} @else if $direction == top {
			padding-top: $amount;
		} @else if $direction == left {
			padding-left: $amount;
		} @else if $direction == right {
			padding-right: $amount;
		} @else {
			padding-bottom: $amount;
		}
	} @else {
		@if $direction == all {
			margin: $amount;
		} @else if $direction == top {
			margin-top: $amount;
		} @else if $direction == left {
			margin-left: $amount;
		} @else if $direction == right {
			margin-right: $amount;
		} @else {
			margin-bottom: $amount;
		}
	}
}
