@import '@App/Assets/bootstrap/variables.scss';

.item {
	height: 1.3rem;
	width: 1.3rem;
	font-size: 0.7rem;
	font-weight: 700;
	color: white;
	text-align: center;
	line-height: 1.3rem;
	left: 100% !important;
	top: 0 !important;
	position: absolute !important;
}
