@import '@App/Assets/bootstrap/variables.scss';

.OrderPayment {
	color: $gray-dark-lab77;
	.content {
		display: flex;
		align-items: flex-start;

		.icon {
			font-size: 50px;
			line-height: 50px;
			margin-right: 10px;
			color: $gray-dark-lab77;
		}
	}
}
