<div
    class="txtTinyMce-wrapper"
    style="
        line-height: 1.5;
        font-size: 12px;
        font-family: 'Roboto', Tahoma, Verdana, Segoe, sans-serif;
        color: #979797;
        mso-line-height-alt: 18px;
    "
>
    <h2 class="text-formated" style="text-transform: capitalize;">Oi {{name}},</h2>
    <br />
    <p class="text-formated">
        {{message}}
    </p>
    <br />
    <h2 class="text-formated">
        Esta é uma mensagem automática por favor não responda esse e-mail.
    </h2>
</div>