<div
    class="txtTinyMce-wrapper"
    style="
        line-height: 1.5;
        font-size: 12px;
        font-family: 'Roboto', Tahoma, Verdana, Segoe, sans-serif;
        color: #979797;
        mso-line-height-alt: 18px;
    "
>
    <h2 class="text-formated">Contato através do Site</h2>
    <br />
    <br />
    <p class="text-formated">
        Nome: {{name}}
    </p>
    <p class="text-formated">
        Assunto: {{subjectContact}}
    </p>
    <p class="text-formated">
        Email: {{email}}
    </p>
    <br />
    <p class="text-formated">
        Mensagem: {{message}}
    </p>

    <br />
    <br />
    <p class="text-formated">Entre em contato com o Cliente</p>
</div>