<div
    class="txtTinyMce-wrapper"
    style="
        line-height: 1.5;
        font-size: 12px;
        font-family: 'Roboto', Tahoma, Verdana, Segoe, sans-serif;
        color: #979797;
        mso-line-height-alt: 18px;
    "
>
    <h2 class="text-formated" style="text-transform: capitalize;">Oi {{name}},</h2>
    <br />
    <p class="text-formated">
        Recebemos um pedido para alterar a sua senha, se você tiver solicitado é só clicar no botão abaixo.
    </p>
    <br />
    <p class="text-formated">
        <a href="{{linkResetPassword}}">Criar nova senha.</a>
    </p>
    <br />
    <p class="text-formated">
        Se você não tiver solicitado, é só desconsiderar este email. Ah e não se preocupa que a sua senha não será
        alterada.
    </p>

    <br />
    <br />
    <p class="text-formated">Qualquer dúvida é só chamar a gente.</p>
</div>