@import '@App/Assets/bootstrap/variables.scss';
.content {
	display: flex;
	.icon {
		font-size: 2.75rem;
		width: 3rem;
		text-align: center;
		display: inline-block;
		line-height: 3.25rem;
	}

	.info {
		display: inline-block;
		margin-left: 1rem;

		.name {
			margin-bottom: 0.25rem;
			font-weight: 300;
		}
		.description {
			font-weight: 300;
			color: $gray-dark-lab77;
		}
	}
}

.iconAccess {
	text-align: right;
	color: $black-lab77;
	font-size: 36px;
}
