@import '@App/Assets/bootstrap/variables.scss';

.productName {
	margin-top: 2.5rem;
	margin-bottom: 2rem;
	font-size: $h3-font-size;
	font-weight: 300;
	text-transform: uppercase;
}

.price {
	font-size: $font-size-base;
	font-family: $headings-font-family;
	font-weight: $headings-font-weight;
	text-transform: uppercase;
	border: none;
	border-top: 1px solid $gray-light-lab77;
	background: transparent;
	padding: 1rem 0rem;
	@media (min-width: map-get($grid-breakpoints, 'lg')) {
		padding: 0.75rem 0rem;
	}

	.value {
		text-align: right;
		font-weight: 300;
		.price {
			font-weight: 400;
		}
		@media (min-width: map-get($grid-breakpoints, 'lg')) {
			text-align: left;
		}
	}
}
